.registerCom {
    padding-top: 80px;

    .registerCom-bg {
        display: block;
        margin: 0 auto 80px;
        width: 200px;
    }

    .registerCom-form {
        margin-left: -200px;

        .registerCom-form-btnBack {
            margin-right: 10px;
        }
    }
}