<div class="alarmNotifyRecord">
    <app-spinner [isLoading]="isLoading" message="加载中，请稍候"></app-spinner>
    <div class="alarmNotifyRecord-filterForms">
        <nz-space nzSize="small">
            <nz-space-item>
                <nz-input-group [nzSuffix]="suffixIconSearch">
                    <input type="text" nz-input [(ngModel)]="filterForm.content" (ngModelChange)="getAlarmNotifyRecord()"
                        placeholder="输入通知内容进行查询" />
                </nz-input-group>
                <ng-template #suffixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>
            </nz-space-item>
            <nz-space-item>
                <nz-range-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" [(ngModel)]="timeRangePicker"
                    (ngModelChange)="onTableSelectTimeRange($event)" [nzAllowClear]="false">
                </nz-range-picker>
            </nz-space-item>
            <nz-space-item>
                <nz-radio-group [(ngModel)]="timeRange" (ngModelChange)="onTableTimeRangeChange()">
                    <label *ngFor="let timeInterval of timeIntervalList" nz-radio-button
                        [nzValue]="timeInterval.value">{{timeInterval.label}}</label>
                </nz-radio-group>
            </nz-space-item>
        </nz-space>
    </div>
    <div class="alarmNotifyRecord-table">
        <nz-table #alarmRecordTable [nzData]="tableData" [(nzPageIndex)]="filterForm.pageNum"
            [(nzPageSize)]="filterForm.pageSize" nzShowSizeChanger [nzTotal]="paginationConfig.total"
            (nzPageIndexChange)="getAlarmNotifyRecord()" (nzPageSizeChange)="getAlarmNotifyRecord()" [nzFrontPagination]="false"
            [nzScroll]="{y: '700px'}" [nzShowTotal]="totalTemplate">
            <thead>
                <tr>
                    <th nzAlign="center" [nzWidth]="'200px'">通知时间</th>
                    <th nzAlign="center" [nzWidth]="'200px'">预警名称</th>
                    <th nzAlign="center" [nzWidth]="'100px'">通知类型</th>
                    <th nzAlign="center">通知内容</th>
                    <th nzAlign="center" [nzWidth]="'100px'">通知状态</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-alarmNotifyRecord [ngForOf]="alarmRecordTable.data">
                    <tr>
                        <td nzAlign="center" style="vertical-align: middle;">{{ alarmNotifyRecord.createTimeText }}</td>
                        <td nzAlign="center" style="vertical-align: middle;">{{ alarmNotifyRecord.alarmName }}</td>
                        <td nzAlign="center" style="vertical-align: middle;">
                            <i *ngIf="alarmNotifyRecord.category === 1" nz-icon nzType="dingding" nzTheme="outline"></i>
                            <i *ngIf="alarmNotifyRecord.category === 2" nz-icon nzType="mail" nzTheme="outline"></i>
                        </td>
                        <td nzAlign="center" style="vertical-align: middle;">{{ alarmNotifyRecord.content }}</td>
                        <td nzAlign="center" style="vertical-align: middle;">{{ alarmNotifyRecord.stateText }}</td>
                    </tr>
                </ng-template>
            </tbody>
        </nz-table>
        <ng-template #totalTemplate let-total> 共 {{ paginationConfig.total }} 条 </ng-template>
    </div>
</div>
