.userRegisterAudit {
    padding: 10px;

    .userRegisterAudit-filterForms {
        margin-bottom: 10px;
        
        .userRegisterAudit-rangePickder {
            margin-bottom: 10px;
        }
    }
}