.systemManage-container {
  padding: 1vw;

  .systemManage-topBanner {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .systemManage-topBanner-datePicker {
      width: 20vw;
    }

    .systemManage-topBanner-radio {
      margin-left: 1vw;
    }
  }

  .systemManage-table {
    margin-top: 1vw;
    .systemManage-table-handleBtn {
      button:nth-child(2) {
        margin-left: 1vw;
      }
    }
  }
}