.home-container {
  .home-iconAvatar {
    display: block;
    margin: 14vh auto 10vh;
    width: 10vw;
  }

  .home-modules-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;

    .home-modules-listItem {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-right: 1vw;
      padding: 1vw 2vw .3vw;
      border-radius: 1vw;
      cursor: pointer;

      .home-modules-iconWrapper {
        margin-bottom: 1vw;
        width: 4vw;
        height: 4vw;
        background-size: contain;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        background-color: #ddd;
      }
    }
  }
}